.wrapper {
	max-width: 2000px;
	margin: 0 auto;
}

.menu {
	border-right: 1px solid #EEEEEE;
    height: 100%;
    width: 170px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: white;
}

.menu__wrapper {
	padding: 24px 24px;
}



.menu__nav {
	font-size: 12px;
	color: #0F1E36;
}

.logo {
	margin-bottom: 44px;
	cursor: pointer;
}

.menu__nav img {
	height: 16px;
	width: 17px;
}

.menu__nav li {
	margin-bottom: 25px;
	cursor: pointer;
}

.menu__nav span {
	margin-left: 15px;
	opacity: 0.5;
}

.menu__nav h3 {
	font-weight: 600;
	margin-bottom: 17px;
}

.menu__artist {
	background-color: #F51E38;
	padding: 12px 10px 10px 24px; 
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 62px;
	box-sizing: border-box;
}

.menu__atrist_track {
	display: inline-block;
	width: 84px;
	vertical-align: top;
	padding: 4px 0 0 8px;
}

.menu__atrist_name, .menu__atrist_track-name {
	font-size: 10px;
	color: white;
}

.menu__atrist_track-name {
	color: #F69DA8;
}

.player__down {
	display: flex;
	position: absolute;
	bottom: 0;
}

